{{ partial "header.html" . }}
    <article>
      <h1>Personal Work</h1>
      <div class="projects">
      {{ range $ind, $ele := .Params.projects }}
        <div class="project">
          <a href="{{ $ele.url }}" title="{{ $ele.title }}">
            <img srcset="{{ range $i, $sequence :=  (seq 10) }}images/projects/{{ add (mul $i 100) 300 }}/{{ $ele.img_src }}.jpg {{ add (mul $i 100) 300 }}w{{ if lt $i 9 }},{{end}}{{ end }}"src="images/projects/originals/{{ $ele.img_src }}.jpg" sizes="(min-width:768px) 50vw, 100vw" alt="{{ $ele.title }}" /></a>
           <h3><a href="{{ $ele.url }}" title="{{ $ele.title }}">{{ $ele.title }}</a></h3>
           <p>{{ $ele.technology }}</p>
        </div>
      {{ end }}
      </div><!-- /.projects -->
    </article>
{{ partial "footer.html" . }}
