<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Kevin Newcombe</title>
      <style type="text/css">
      html,body{
        height:100%;
        overflow:hidden;
      }
      body{
        margin:0;
        font-family:'Courier New', mono;
        font-size:16px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      p{
        font-size:1.1rem;
        text-align:center;
      }
      a{
        color:#145b94;
        transition:0.125s all;
        text-decoration:none;
      }
      a:hover{
        color:#082f4f;
      }
      div{
        padding:10px;
        max-width:500px;
      }
      @media (prefers-color-scheme: dark) {
        body{
          background:#292929;
          color:#fff;
        }
  
        a,sup{
         color:#95d0ff; 
        }
        a:hover{
          color:#2ba1ff;
        }
      }
    </style>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
</head>

<body>
  <div>
    <p>
      newcombe.work is offline for now.<br />
    </p>
    <p>
      You can visit me on <a href="https://codepen.io/kevinnewcombe" title="please visit me at codepen">codepen</a>, or you can  <a href="mailto:kevinjnewcombe@gmail.com" title="please email me">email me</a><sup title="or not, no pressure">1</sup>
      if that's your thing; if it isn't, that's fine<sup title="No, really, I hope this doesn't come off like I'm trying to force you to do something.">2</sup>.
    </p>
  </div>

  <script>
    let a = [`NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXKXNNNNNNNNNNNNNNNNNNNNNNNNNNNNXNNNNNNNNN
XXXXXXXXXXXXXXXXNNXXXNNXXNNXXNNNNNXXXNNNNNNNNNNNNNNNNNXXXKxcclxKNNNNNNNNNXNNNNNNNNNNNNNNNXXXNNNNNXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNXNNXXXX0c..':OXNNNNNNXXXXXXXXXXXXXXXNNNXXXNXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNXX0xo:'.,dXNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKko:,;cldOKNXXXXXXXXXXXXXXOOKXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXK0kc'.';cldKNNNXXXXXXXXKOxxxdc,:kKXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKkc;,....',:cdKXXXXXXXXX0o,....''.,lkKXXXXXXXXXXXXXXX
KKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKxc::,'..,cc;:dOKXXKkddd:'......''..'ckKXXXXXXXXXXXXX
KKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKK0kxk0XKd:,;ldxc'.....''..........,o0XXXXXXXXXXXX
KKKKKXXXXXXXXXXXXXXXXXXXXXXXXXX0OxoooddddxxOOkkOkkO0KXXNX0kdc'...'',,''.''............'ckKXXXXXXXXXX
KKKKKKXXXXXK00KKKXXXXXXXXXXK0xl:'..............','',cdOKXKx:,,'...''''..'''',codl:,....';oOKXXXXXXXX
KKKKKXXXXKKx:,:cccllcccllol:,...........''......'..'...;dKXKkoc;,;cc;,,:c::oOXNNXKOxol;,',oKXXXXXXXX
KKKKXXXXXX0:............'co:'.........''''',,,;;;::::'.;lkXXkoloocll;,:c::dKNNNXXXXNNXOxxk0XXXXXXXXX
KKKKXXKKXXOc'....;okOkkddkkc..........,'........','''.,cokKKxlloo:;,'''',dKNNXXXXXNNNNNNNXXXXXXXXXXX
KKKKKKKKKKKkl::okKXXXXXXXX0c..........'..............':;.,:c:,,;:;;::'';xKNNXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKXXX00KXXXXXXXXXXXXOc'........................'.. ......';:c:;o0XNXXXXXXXXXXXXXXXXXXXXKXXXXK
KKKKKKKKKXXXXXXXXXXXXXXXXXXXKOo;..........:oc,...................,:;,oKNNXXXXXXXXXXXXXXXXXKXXXXXXXXX
KKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXx;........:0NX0koc,'...............',o0NXXXXXXXXXXXXXXXXXXKKKXXKKXXXK
KKKKKKKKXXXXXXXXXXXXXXXXXXXX0xl,',coc'..:OXXNNNNXK0Okdl;.........':xXNXXXXXXXXXXKKXXXXXXXKKXXKKKKKKK
KKKKKKKXXXXXXXXXXXXXXXXXXXXk:..'o0XKo'.:OXXXXXXXXNNXNNXKx;......;xKXXXXXXXXXXXXXXXXXXXXXXKKXXKKKXXKK
KKKKKKKKKXXXXXXXXXXXXXXXXXX0xo::lxOo'.,xXXXXXXXXXXXXXXXKd'.'co:''o0XXXXXXXXXXXXXXXXXXXXXXKKKXXXXXXXX
KKKKKKKKKXXXXXXXXXXXXXXXXXXXXXK0xo:,''':dk0KXXXXXXXXXXKo'.;xKNXkoco0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXX0ko::cc:::ldOKXXXXXKo..c0XNXNNXkco0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXNKkdkOkxo:,,o0XXK0o'.'cx000OxolcxKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXKOkkxdoc;',:clc;,cxkxdlclodxOKXXXXXXXXXXXXXXXXKXXXXXXXXXXXXXKKK
KKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNXXK0OOkxxkkO0KXXXXK0KXXXXXXXXXXXXXXXXXXXXKKKKXXXKKKXXKKKKKK
KKKKKKKKKXXXKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKXXXK0KXXKKXKKK
KKKKKKKKXKXXKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKXXXXXKKKXKKKKKKK
KKKKKKKKKKKKKKKKKKXXXXXXXXXKKKKKKXXXXXXXXXXXXKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKXXXXK00KKKKKKKK
dxxxxxxxdxkkkkkkkOO000000000OOOOOOOO000O00OOkkOOOOOOO0O000000000OO000000000000000OOOO00OOOkkkkkkkkxx
,,;::cc;;cllllooooddxxxxdddddddddddxxkkkkkkkkkkkkkkkkkkkkkkOOOkkkkkkkxxxxxxxxxxxxddddddooodoolllllll
;;;:;:ccccllllloooooodddoooooddxxdddxxkxkkkkkkxxxxxxxxxdxxkkkxxxkxxxxxxxdddddddddooollllclllclllllll`,

`NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXNNNNNNNNNNXOxxOKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXXXXXXXXNNNNXXk;'',l0XNNNXXXXXXNNNXXXNXXXXXNNNNNNNNNNXXX
XXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNXXXXXXXXXXXXXXXXXXXXXXXXXKkl'..'dKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKko:,;,,:dKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKK0Oo:..,:clkKXXXXXXXXXXXKK000kk0KXXXXXXXXXXXXXXXXXX
KXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKkl:,.....;::xXXXXXXXXXXXKxolc:'.,cxKKXXXXXXXXXXXXXXX
KXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKK0l,'......',,ckXXXXKO0KKOl'........':x0KXXXXXXXXXXXXX
KKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKXK0OOkdlccokd;';lk0kc,;c:'.............ckKXXXXXXXXXXXX
KKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKKKKKXXXKKKK00KKXXXXNNXOl'.',;,...................,dKXKXXXXXXXXX
KKKKKKKKKKKKKXXXXXXXXXXXXXXXXK0kdlcccccccloolcldlccok0XXXKkl;.....''...................'lOKKXXXXXXXX
KKKKKKKKKKKKK0KKKKKKKXXXXXK0ko:,......'..............:okKX0xl:'....''....'..,cdddl;'.....;d0KXXXXXXX
KKKKKKKKK0xc;;;::ccccllodol:,'''.....'''....''''''','..,oOXX0xc;;;:oo;';::;ckXXXNXKkdo:,'';kXXXXXXXX
KKKKKKKKKO:.........',',lol;'''............',,,,,,;;;..;dkKXOocclc:c;'';;,cOXNXXXXXNNXKxdkOKXXXXXXXX
KKKKKKKKKKk;...,cdkkkkdokKk:'..........''.............';:oOOdccll:;,'...'l0XXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKx:cxOKXXXXXXKKKk:.........................,:'..','..',,,:c;',dKXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKK00XXXXXXXXXXXXKkl,....................................,;:,;xXXXXXXXXXXXXXXXXXXXXXXXXKKKK
KKKKKKKKKKKKXXXXXXXXXXXXKKKXKOxl:'........':;'....................,;,;xXXXXXXXKKXXXXXXXXXXXXXXKKKKKK
KKKKKKKKKKKKKXXXXKKKKKKKKKKKXXXXKOc.......cKKOdc;'.................,lOXXXXXXXXXKKXXXXXXXXXXXXXKKKKKK
0KKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXKk:.,:;...lKXXXXKOkxol:'...........l0XXXXXXXXXXKXXXXXXXXXXXXXXKKKKKK
00KKKKKKKKKKKKKKKKKKKKKKKKKKKXX0o,.;xKx,.'oKXXXXXXXXXXX0o'...';,...,okKXXXXXXXXKXXXXXXXXXXXKKKKKKKKK
0KKKKKKKKKKKKKKKKKKKKKKKKKKKXKKx;'';dOd;.'o00KXXXXXXXXXXO;..:OK0Oxolc:coOXXXXXXKKXXXXXXXXXXXKXXXXXXX
0KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKOkxdlc:,'',lolxKXXXXXXXXd'.:OXXXNNNXKOc.lKXXXXXKKKXXXXXXXXXXXXXXXXXX
0KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXK0koc,,::;:ok0KXXXKl.,xXXXXXXXXKx:ckKXXXXXKKKKKKXXKXXXXXXXKXXXX
00KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXKkl;;'...,:ok0O:'oKNXXXXXKOocxKXXXXXXXKKKXXKKKKKXXXXXKKKKKK
000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXX0O0Odc'...;l;,l0XXXKOkdc;lOXXXXXKKKKKKXXKKKKKKKKKKKKKKKKK
00000KK0KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXKOkdlcdkOKXXXKkdodxkKXXXXKKKKKKKKKKKKKKKKKKKKKKKKKKK
000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXKOk0XXXXXXKKKXXXXXKKKKKKKKK0KKKKKKKKKKKKKKKKKKKK
0000000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXKKKKXXXXXXXXXXXXKXXKXXKKKKKKKKKKKK0KKKKKKKKKKKKKKKKKKKK
000000000KKKK0KKKK00KKKKKKKKKKKKKKKKKKKKKKKKK0000KKKKXKKKXXXXKKXKXXKKKKKKXKKKKK00KKKKKKKKKKKKKKKKKKK
doodxkkkkOOOOOOOkkxxxkkOkkkxxxkkkOOOOOOOOkkxkkxxOOOkkkkOO0OOOOOOOOOO00OOO000000OOOO00000000O0OOOOOOO
,'';:cllllllooddolllloooooooooodddxxxxxxxxxxxxkkkkxddddxxxxxxxkxxxxkkxxxxxkxxxxxxdddxkkxxkxxxxxddddd
,',::cccccccllloooooooooooooddddxddddddddxxxxkkkkxxxxxxkkkkkkxxxxxxxxdddddddddddddddddoooooooooooooo`,


`XXXXXNNNNNNNNNNNNNNNNNNNNNWWWNNNNNNNNWWWWWWWNWWWWWWWWNNNNNWWWWWWWWWWNNWWNNWWWWWWWWWWWWWWWWWWWWWWWWWW
XXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNWWWNNNNNWWWWWNNNNNNWWWWWWWWWNNNNNNNNWWWWWWWWWWWWWNNNWWWWWNWNN
XXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNWWWNNNNNNNX0OOXNNNNXXNNNNNNWWWWWWWWWWWNNNNNNNNNNNNN
KKKXXXXXXXXXXNNNNXNNXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNKo,,;ckXNNXXNNNNNNNWWWNNNNWWNNNNNNNNNNNNNN
KKKKKKXXXXXXXXXXXXXXXXXXXXNNNNNNXXXXXNNNNNNNNNNNNNNNNNNNX0d;...;kXNNXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
KKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNX0xl;,'..;xXNNNXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
KKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNKkl,.',;:oOKNNNNNXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
KKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNX0xoc'....',,oKNNNNNNXXNNX00000Oxdx0XNNNNNNNNNNNNNNNN
KKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNKd;''........;kXNNNKKKK0ko:,,'',,,':xKNNNNNNNNNNNNNNN
KKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKkxxxo:,,cdc'.;o0XOl,;;,.......',,,',:xKNNNNNNNNNNNNN
KKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXKkxkO0000XNXx;..,:c,.  ..........'''..,l0NNNNNNNNNNNN
KKK000KKKKKKKKKKKKKKKKKKKXXXXXXKOdoloooooodxdodko:;cdk0KK0kl,.   .'.............'...''':kXNNNNNNNNNN
KKKKKKKKKKKK00000KKKKKKKKKXX0kl;..  .................,lxO0xc,..   ...........,:lc,'.''..;xKNNNNNNNNN
KKKKKKKKK0koc;,,;;;;;clodkxl;..... ....................,lk00d;'''';:;...''',o0XNX0xl;,,'',l0NNNNNNNN
0KKKKKKKKO:.      .......;;.................''''',,;,..;ldO0o,,,;::;,'.,;';xXNNNNNXXKOxc::lONNNNNNNN
00KKKKKKK0o'.  ..';;,:;':kk:.....................''''.':clkkl;;:c;'......:kNNNNNNNNNNNNK00XNNNNNNNNN
00KKK0K0000x;..;d00OO00OOKO:.........................,;'..','.',;,.';,.'l0NNNNNNNNNNNNNNNNNNNNNNNNNN
0000000000KKOddOXXXXXXXXXXKx;........................''..  ........';;,lKNNNNNNNNNNNNNNNNNNNNNNNNNNN
0000000000KKKKXXKKKKKKKKXXKX0xl;'........................   .......',,c0NNNNNNNNNNNNNNNNNNNNNNNNNNNN
000000KK0000KKXKKKKKKKKKXXKXXXXKOo:'......;xdc,.....................,dKNNNNNNNNNNNNNNNNNNNNNXXXXXXXX
00KKKKKK0000KKKKKKKKKKKKKKKKXXXXNXKOc.....:0NXK0kxdoc;,.......  ....,o0XXNNNNNNNNNNNNNNNNNNXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXNXd.....,kXXNNNNNNXX0kd:.. ..''....',:lokXNNNNNNNNNNNNNNXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXk;.....'dXXXXXXK00KXXNKl. .lO00Okkxddl,'dXXNXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKXXKKXXKXXKKKKKXXXXXXXk:,'....,:cldkKKOllOXXX0c..lKNNNNNNNNXd;dXNXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKXXXXXXXXXXKKKXXXXXXXXXKK0k:...,:;''lxkxclOKXX0c.:OXXNNXXXXKllKNXXXXXXXXXXXXXXXXXXXXXXX
0KKKKKKKKKKKKKKXXXKKKKKKKKKKKKKKKXXXXXNXKxc,,okOd:;lOk;,:odxo,,xXXXXXXXXx:dXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKXXXKKKKKKKKKKKKKKXXXXXXXXXNNXOo;,:dkkk0X0kxdolc:o0XXXXXXXO::OXXXXXXXXXXXXXXXXXXXXXXXXX
0KKKKKKKKKKKKKKKKKKXXKKKKKKKKKKKKKXXXXXXXXXNXKx:',:lkKXXXXXXXXXXXXXXKKklo0XXXXXXXXXXXXXXXXXXXXXXXXXX
00KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXKkc;,,ckKXXXXXXXXXXXX00kxKXXXXXXXXXXXXXXXXXXXXXXXXXXX
0KKKKKKKKKKKKKKKKKXKKKKKKKKKKKKKKKXXXXXXXXXXXKKKXXK0dclkKXXXXXXXXXXX00XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OOOO0OOOkkOO0KKKKKKKKKKKKKKKKKKKKKKXXXXXXXKK0OO0KXXXXK00KXXXXXXXXXXX00XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
oolloolllllooddddddxxxxxxxxxxxxxxxkkxxxxxdddddxkxxkkkOkkxxxxkkkOkkkkddxkk000OOOOOOOOOOOOOkOOOkkkOOOO
:;;;::::::::::::::::::::::ccccc:::ccccccllllllodoooooooollllooooollllooodxxxddxdddddoddoooollloooooo
;;;;::::::::::::::::::::::::::::::::ccccclllooddoooooooolllllllolllloooodddoooooollllllllllccclooooo`,


`XXXXXXXXXXXXXXXXXNXXXNXXXXXXXXNNNXXNNNNNNNNNNNNNNNNNNNNNXXXNNNNNNNNNNNNNNNNNNNNNXXXNNNNNNXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNXXNNNNNNNNNNNNNNNNNNNNNXXXNNNNNNNNNNNXNNNXXXXXXXXXXNNNNNXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNXXXXXXXXXXKO0KXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKd:,;lOXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0x;...'dKXXXXXXXXXXKKKKKKKKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKkdc:,..'oKXXXXXXXXXXXKKKKKKKKKKKKKKKKKKKKKKKK
XXXXXXXXKXXXXXXXXXKXXXXXKKKKKKKXXXXXXXXXXXXXXXXXXXXKOo;.',;:ldkKXXKKKXXXXXXXKKKKKKKKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXKKKKXXKKKKKKKKXXXXXXXXXXXXXXXXXKOxo,...';:cxXXXXXXKKKXXXXXXKKK0kkO0KKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXKx;........,;lOXXXXKKK00Okdoccc:,..'ckKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXKOxddc;'';:,',ckKKOxxo:,'............,o0KKKKKKKKKKKKK
XXXXXXXXXXXXXXKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXK000KK0OOKKkc,,,cl:'...................:kKKKKKKKKKKKK
XXXXXXXXXXXXXXXXKKKKKKKKKKKKKKKKKKKKKKKKKKKK0O0KOxxkOKKXX0Od;....,,'...'''''......... .;kKKKKKKKKKKK
XXXXXXXXXXXXXXXXKKKKKKKKKKKKKK0koc;,,;;;;;;:,',cc:;,;lx0K0d:,.......''''''''............;xKXKKKKKKKK
XXXXXXXXXXXXKOxdxxxxxxO0KKK0ko:'...................  .'ckKKOdc:;'.';,..',;,,;oxkko;......,xKKKKKKKKK
XXXXXKKXXXKkc,''......',:cc;'..... .'''''''',,,,,,,,'..:dOK0o:cccc:c;..,;;,lOXXXXK0koc,...'dKKKKKKKK
XXXXXKKXKKKx;'...',',cc,;lo:.........',,.......,;:::;':dxOK0dclool,,'..'.,dKXXXXXXXXXKklccoOKKKKKKKK
XXXXXXKKKKK0d;',cdxxOK0xkKKd'...................',;,,;c;',clc;,;:c;',;,';kXXXXXXXXXXXXXKKKXXKKKKKKKK
KKKKKKKKKKKK0xok0KXKKXKKKKKx,.......    ............',;.. ..,,..',;;,;,;xXXXXXXXXXKKXXXXXXKKKKKKKKKK
KKKKKKKKKKKKKKKKKKKKKKKKKKKKx;....      ....................''...'','';dKXXXXXKKKKKKKKKKXKKKKKKKKKKK
KKKKKKKKKKKKKKKKKKKKKKKKKKKKK0d;...... ...','...............','''....:xKXKKKKKKKKKKKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0d;........;xOkdol::;,'.........'.....:xkOKKKKKKKKKKKKKKKKKKK0KK00000
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0d:......;kKXXXXKKK0Okdoc;'...'''''','',;:cx0KKKKKKKKKKKKKKKKKK0KKK
KKKKKKKKK0KKKKKKKKKKKKKKK0KKKK0KKKK0o.....;xKKKKKKKKKKKKKK0Oxl;'.,lxxxdool:'.cOKKK000K00000000000KKK
KKKKKK0KK00000KKKKKKKK00KKK00000KKKKk;.....:dkO00KKKKKKKK0kOKK0xl:;lkKKXKKKOl;dKKKK0K000000000000000
KKKKKKKKK00KK0KKKKKKKK00KKK00K00KKKKk:..,:;,,,,,;::cldO0KOc;o0XXX0o,:OKKKKKKOccOKKKKKKK0000000000000
KKKKKKKK00000000K0000000KK00000000KKk;..:O00Okxdollc;,,cx0ko:cooollcd0KKKKKKKx:o0KKKKKK0000000000000
KKKKKKKKKK000000000000000000000000000x:.'dKKKKKKKKKK0Odlok0Kxccoxk0KKKKKKKKKKOcl0KKKKKKKKKKKKKKKKKKK
KKKKKKKKK000000000000000KK0000000000KK0d;,oOKKKKKKKKKKK00O0KKKKKXKKKKKKKKKKKKOod0KKKKKKKKKKKKKKKK000
KKKKKKKKK0000000000000000000000000000KKKOc';d0K0000KKKKK0OOKKKKKKKKKKKKKKKKKKOxk0KKKKKKKKK0000000000
KKKKKKKKKKK000000000000000000000000000KKK0d,'cx0000KKKKK0OOKKKKKKKKKKKKKKKKKKKK0KKKKKKK0000000000000
KKKKK00KKKK00000000000000000000000000000KK0x;..:x000KKKK0kk0KKKKKKKKKKKKKKKKKKKKKKKKKKK0000000000000
OOOOOxddkOOkOOkkkkOOOkkkkkkkkxxdxxxxddxxxxddol;;ldxxxxxxdllddxkkxxxxxxxxxxxxxkkkOOkxxdddddddoooooooo
xxxdo:;codddddddddddoolllllllcccccccccllloooooolllllllccllolloodddddddooooollooddoollcc::;:;;,;;;;;;
xxxoolldxddxddooooollllllllllllccccllcclloooooolllllllcclooooooooooooollllllooooooollccc:;;;;,;;:;;,`,


`NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXXXXX
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXXXXXXXXXXXXXXX
XXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXKXNNNNNNNNNNNXX000XXNNXNNXXXXXXXXXXXXXXXXXXXXXKKKKKKKK
XXXXXXXXXXXXXNNNXXXXXXXXXXXXXXNXXXXXNNNNNNXNNXKKNNNNNNXXXXX0l,',lOXXXXXXXXXXXXXXXXXXXXXXXKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXKd.   .dKXXXXXXXXXXXXXXXKKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXKkl;..  .oKXXXXXXXXXXXKKXXKKKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXKOo,....,:lkKXXXXXXXXKXXXKKKKKKKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXK0x:.   ...;kNNXXXXXXXXXXXXXXXKKKKKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKo;'.      ..c0XXXXXXKXKKK0Okoodxo::lkKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKOkxo:'..;:'..;xKXK000kl;,'..        .o0KKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKKKXX0kOXXk:...:dd;'..               .l0KKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKOxxOKXXXXKOo,.   .                    .c0KKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0kdllllllooddloxkxdlccdOKKk:...                         .o0KKKKKKKKK
XXXXXXXXXXXXX0xdddxxxkO0KXXXK0xl,..    .............. .,d0KOo;'.......    .. ..:c:'      'xKKKKKKKKK
XXXXXXXXXXXKd,........',:lllc,..... ............'''''..':xKKd,,'',,..'.  ...'oOKKKOo,.    ;k0KKKKKKK
XXXXXXXXXXXKd.....',;cl,':lc,.....  ..''....'''',,;;;,'ldxKKd,,;;:;....  ..cOXXXXXXXKkl'  .l00000000
XXXXXXXXXXXX0l'':dO0KXKxd0XOc.....  ..............',,';c,,co:'...........'dKXXXXXXXXXXXklcoOK00K0KKK
XXXXXXXXXXXXX0kOKXXXXXXXXXXO:.  ............   .......,,.   .''.  ......'dXXXXXXXXXXXXXXXXXKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXKd'.         ....    .........    ...........cKXXXXXXXXXXXXXXXXXKKK0KK000
XXXXXXXXXXXXXXXXXXXXXXXXXXXXKo'...      ............  ..    .......   .cOXXXXKKXKXXXXXXXXXKKKKK00000
KKXXXXXXXXXXXXXXXXXXXXXXXXXXXKd'..........'lkkdlc::;,'..... ...........lk0KKKKKKKKKXXKXKKKKK00K00000
KKKXXXXXXXXXXXXXXXXXXXXXXXXXXXKd,.....,;...:OXXXXXXXK0Okxdol:'..........';ldk0KKKKKKKKKKKKK000000000
KKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXKd,...;x0l'.,dKKXXXXXXXXXXXXXK0Okkdolcc:,.....':d0KKKKKKKKKK000000000
KKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXkc'''cOXXOc''cOKXXXXXXXXXXXXXXXXXXXXXXXKx,,dxl;..cOKKKKKKKK0000000000
KKKKXXXXXXXXXXXXXXXXXXXXXXXXXKx;',;o0XXXXx;'':xKXXXXXXXXXXXXXXXXXKXXXKxclOKXXK0o,;d0KKKKKKK000000000
KKKKKXXXXXXXXXXXXXXXXXXXXXXXKx;';lkKXXXXXKOdc;,:lxkOKXXXXXXXXXKOdoddoccxKXXXXXXKOc.;x0KKKKK000000000
KKKKKKKKXKXXXXXXXXXXXXXXXXXXKk:,ckXXXXXXXXXXX0koc:;;:lxOKXXXXXKOxdoold0XXXXKXXKXX0o',d0KKK0000000000
KKKKKKKKKKXXXXXXXXXXXXXXXXXXXKx:cOXXXXXXXXXXXXKXXK0ko:;;lkKKXXXXXXXXXXXXXXKKKKKKKKKk;;x0K00000000000
KKKKKKKKKXXXKKXXXXXXXXXXXXKKXXKdcd0XXXXXXXXXXK0KXXXXXK0kdxOKKXXXXXXXXXXXXXXKKKKKKKKKkdx0000000000000
KKKKKKKKKKKKKKKKKXXXKXXKKKKKKKX0dcxKXXXXXXXXK0O0XXXXXXXXXKKKKKKKKXXXXXXXXKKKKKKKKKKKKKK00000OOOOOOOO
KKKKKKKKKKKKKKKKKKKXKKKKKKKKKKXX0o:oxk0KXKKK0kox0KXXKXXKXKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00000OOOOOOOOO
kOkkO000000000000000OO0000OOkkOO0xlcloxOOOkkkxddxxxkOOkkkkxxxxkkkkkkkkkkkkkkxxxxxxdddddooollccccccc:
xdlloxkkkkkxxxkkkkxxxxxxxxxxddxxkOOOOkkxxxxxkkkkkxddxxddddddddddooodddddoolllccc::;;;;,''''.........
xl:coxxxxxxkxxkkkxxxxdxkxxxxddxxkkOOkkkkxxxxxkkkxddddddddooooooolloollollllcc::;;,,,,''.....'''.....`,


`NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXNNNNNNXXXNNNNNNNNNNNNNNNNNNNNNNXKXNNNNNNNNNNNNNNNNNNNNNNX0kk0XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXNNNNNNXXNNXXNXXXXKd,'';dKNNNNNNNNXXXXXXXXXXXXXXNNNNNXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXXXXXXXXXXKx;...'o0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKXXXXXXXXXXXXXXXXXXKko;'....oKNNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXXXXXOd;...',cdOKNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXK0kl'......'cONNXXXXXXXXXXXXXXXXXXXKKKKKXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXxl;.........'cOXXXXXXXXXXKK0kkxdxOOdlokKXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXX0Okxo:'.;oo:..,lOXXK0000dc;'.....',...'dKXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXK0O0KXX0OKNNKd;..'cdl;','...............'o0XXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXKOxxxOKXNNKOdl;...........................l0XXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKOxddxkkkOOOkxO00OkolokKX0l,''............................oKXXXXXXX
KXXXXXXXXXXXKkdllooddxkOKKXXK0koc;'.............',''...'lOX0xl:;;,'''';;...,,'',:loc'......;kXXXXXXX
KXXXXXXXXXXKo..  ......',:cc;'..........................;o0XOl;;:cl:'.''...,,;oO0KK0x:'.....c0XXXXXX
KKXXXXXXXXXKd.....'',:,..;c:.  ..............'...'',,'.:od0Xk:','',;,'.....'lONNNNNXX0kd:'...l0XXXXX
KXXXXXXXXXXXO:.'cdO000kokKXx,.  .. .................'''::;ldl'........'...:kXNNNXNNNNNNN0l;;;o0XXXXX
KXXXXXXXXXXXKOk0XXXXXXXXXXKl.     ............  ......','.......''.......;kXNXXNXXXXXXNNXK000XXXXXXX
KXXXXXXXXXXXXXXXXXXXXXXXXX0c.     ...........    ................''......cKNXXXXXXXXXXXXXNNNNXXXXXXX
KXXXXXXXXKXXXXXXXXXXXXXXXXKo.      ........'.....  ..............''.....'xXXXXXXXXXXXXXXXXNNXXXXXXXX
KKKKKKXXXXXXXXXXXXXXXXXXXXKx'.    ........o00Oxdl::;;,'.................':loxOKXXXXXXXXXXXXXXXXXXXXX
KKKKKKKXXXXXXXXXXXXXXXKKKKKO:.    .......'xXNNNNNXXXKK0Okxxdolol:',,,,'......,xXXXXXXXXXXXXXXXXXXXKX
KKKKKKKKXXKXXXXXXXXXKKKKKK0x,.....;oko,..'dXXXXXXXNNNNNNNNNNNNNNK0KKKK0ko;....l0XXXXXKXKXXXXXXXKKKKK
KKKKKKXXXXXXXXXXXXXXXXKK0d:....'cxKXNKo...oKXXXXXXXNNXXNXNNNNXXNNNNNNNNNNKx,...,oOKKKKKKXXXXXXXKKKKX
KKKKKXXXXXXXXXXXXXXXXX0o,....;o0XNNXXXx,..oKXXXXXXXXXXXXXXXXXXXNXXNNXNNXXKo:okl,.,o0KXXKKXXXXXXXXXXX
KKXXXXXXXXXXXXXXXXXXXXk;..,oOXNNNXNXXXO:'.:OXXXXXXXXXXXXXXXXXXXXXXXXXXXX0o;oKNXKOo;;oOKKKXXXXXKXXXKK
KKXXXXXXXXXXXXXXXXXXXXO;.:OXNNXXXXXXXXKkc'.cOXXXXXXXXXXXXXXXXXXXXXXXXXKxloOXNNXXXX0d;,ckKXXXXXXXXXXX
KKKXXXXXXXXXXXXXXXXXXXk,,kXXXXXXXXXKKXNNXOl,,cxKXXXXXXXXXXXXXXXXXXXXXXKxxKXXXXXXXXXX0dc;ckKXXXXXXXXK
KKKXXXXXXKKXXXXXXXXXXXk;;kXXXXXXXXXK0KXXXNX0d;';oOKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKklox0KXKKXXKK
KKKXXKXXXXXXXXKKXXXXXXk::OXXXXXXXXXK0KXXXXXXX0x:'';lkKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKKKKKKKKK
KKKKXXXXXXXXXXXXXXXXXXk:,cdO0XXXXXX0OKXXXXKK0000koc;;dKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXKKKKK
xxkOOOOOOkkOOO00OOOOOOkdllcodkkxkOOkxxxxxxdddddodddlcoxkkxxkkkkxxxxxdddxxkkkkkkkkkkkkkkkkkkxxkxxxxxx
:,;clllccclooooooooooodxkkxdooolloodddooddddddddddoodoollllllllllcccccccccllllllccccc:::cc:;;:;;;;;;
:;:cccc:c:clooolllllllodxdddooooooodddooooooddoooodddollllcccccllccc:ccc::c:::cc::;;;;,,;;,,,,,,,,,,`,


`XXXXXNNNNNXXXNNNNNNNNNNNXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXKXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNXKOk0XNNNNNNNNNNNNNNNNNNNNNNNNXXNNNNNNNXX
XXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNXNXk:';cdKNNNNNNNNNNNNNNXXNNNNNXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXXXXXXXXXXXXXXXXNXXXX0l...,o0XNNNXNNXXNNXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXXXXXXXXXXXXXNXXXXKkl;,,.'l0NNNNNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXXXXXXXXXXXXXXXXOo;..',:dOKXNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKXKKKKKKKKXXXXXXXXXXKKKXXXXXXXXXXXXXXXXXXXXXXK0xc'.....';dKNNNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKXXXXXXXKKKXXXXXXXXXXXXXXXXXXXXXKo,..........;oOKXXXXXXXXXXX0OkxddkKKOkOKXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKXXXKKKXKKKXKXXXXXXXXXXXXXXXKkxdl;...,od:'.'cxKXXXKK0Odc,...  .,:...cOKXXXXXXXXX
KKKKKKKKKXKKKKKKKKKKKXXKKKXXKKXXXXXXXXXXXXXXXXXXKKKKXKOxxKXXKxc...;odl;,'.               ;OXXXXXXXXX
KKKKKKKKXXXKKKKKKKKKKKXKKKKKKKKKKKKXXXXXXXXXXXXX0kxk0KXXXX0xoc;.           .....          :OXXXXXXXX
KKKKKKKKKXKKKKKKKXKKKXKKKKKKKXKKKK00OO0KKKKKK00KK0kxdxOKX0o,,,.....   .... ....           .c0XXXXXXX
KKKKKKKKKXK0xoccllooodxxkk000Oxol:;,,,,;;;;:;'';:;;,'.,o0X0xc:;,'.'.....  ......';;,.      .xKKXXXXX
KKKKKKKKKKKd'....   .....';;,...............          .,o0XKd;,''',,'..   ....;okOOkc..    .c0XXXXXX
KKKKKKKKKKKd'....',,;;',:oo;...............           .lxOX0l..... .........;xKNNXK0Oxc..   .dKXXXXX
KKKKKKKKKKKO:';lxO00KK00K0l.....   ..    ..           .,okOx;.....    ... 'dKXXXXXXXNNX0c.   ;OXXXXX
KKKKKKKKKKKKOk0XXXXXXKKKKo.         ..                 ...''..  ...     ..lKXXXXXXXXXXXN0occcxKXXXXX
KKKKKKKKKKKKKXXXXKKKKKKKO;.        ....                   .....   ....  .c0XXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKk,          ....','.....       ........   ..    .d0KXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKx'            ..dK0Okxdlc:;;,,''''','....       ...,;:lx0XKXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKK0o.    ...     .c0XXXXXXXXXXKK00Okkxdoooodl,.''.   .,,'..oKKKKXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKK0kc.....;lxl.   .c0XXXXXXXXXXXXXXXXXXXXXXXXXXK0K0x:. .:OO;.oKKKKXKKXKKKXXXXXKKX
KKKKKKKKKKKKKKKKKKKOd:'...;oOKXXd'. .c0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKx;. ,c',OKKKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKKKKKKk:...,lxKXXXXk;...:OXXXXKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKd,  .c0KKKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKKKKKk;..:x0KKXXXXO:...l0XXKKKKKKKXXXXXXXXXXXXXXXKKKKKKKKKKKXXX0o. 'd0KKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKKKKx,'ck0KKKKKKXKd'..:0XXXKKKKKKKXXXXXXXXXXXXXKKKKKKKKKKKKKKKXX0l,''ckKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKK0d,,dKKKKK00KKKK0o'.c0XKKKKKKKKKKXXXXXXXKKKKKKKKKKKKKKKKKKKKKKOllOd,'cx0KKKKKKKKKKKKKK
KKKKKKKKKKKKK0o,;xKKKKKK0OKKKKKKx;'l0KKKKKKKKKKKXXKXKKKKKKKKKKKKKKKKKKKKKKKKK00KXOc..:ok00KKKKKKKKKK
KKKKKKKKKKKKKd',xKKKKKKK0OKKKKKKXOc';kKKKKKKKKKKKKKXKKKKKKKKK0KKKKKKKKKKKKKKKXXXKKKOd:':dk0KKKKKKKKK
KKKKKKKKKKKKKOl;o0KK00KKOk0KKKKKKX0o''cddxOO00KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0kkO00KKKKKKKKK
OkxxkOkkkOOOOOkddxkxddkkxxkkxkkxxkkxc'..'cdxxxxxxxxdddddooodddooooddooooddxxxxdddxxxddddoooloooooooo
ol::looooooooooddoolccllloooooooodddxdoolllloooooolllc:::;;;;,;;;;;:::::::::::;,,;;,,'''''..........
oc:coolllllllllooollclllllllllllooooddooolllllllllllllc:::::;,,,;;;:::::::;;;;,,,;;,'''.............`,


`XXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNWWWWNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
XXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNWNNNNNNWWWWNNNWWWWNWWWWWWWWWWWWWWWWWWWWW
XXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNX0OKNNNNNNNNNNNNNNNNNNNNWWWWNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNXNNNNNNNNNNNNNNNNNNNNNNKo,';oKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNXXk,...c0NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXKXXXXXXXKKXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNXXNNNNXKkc,...:ONNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
KKKKKKKKKKXXXKKXXKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNXXXX0d;...,ckKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
KKKKKKKKKKKXXXKXKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKOl,.....'ckXNNNNNNNXXNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXKXXKKKKKKKKKKKXKXXXXXXXXXXXXXXXXXXXXXXXXXKo:'........',lkKXXXNXXXXXXXXK0OkkOKXNXXNNNNNNNNNNNN
XXXXKKKXXXXKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXX0dlc;'...ckOd;''cx0XXXXKOxoc:;,'..':dklcdKNNNNNNNNNN
XXXXXXXXXXXKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXKKKKKOxdkXNNNKkl,.;loo:,'................oKNNNNNNXNN
KKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXKOO0KXXXXX0kdlc:,........',,;;,'.........,dXNNXXXXXN
KKKKKKKKKKKKKKK0000KKKKKKKKKKKKKKKKKKKKKXXXXKKKXK0OOk0XXXk:'',;;;,....'''',,,,'........'..;kXXXXXXXX
KKKKKKKKKK0o:;;;;;:::;::codxxxdolcc::::clloooc:cllc:;:d0X0d:;:ccc:cc;,;;,',::;,,,;:;'.....'l0XXXXXXX
KKKKKKKKKKO;.           .':;.................   ......'o0XKxc;,;;:ccc;,'',,,,;lx0KXKkc'....;xXXXXXXX
KKKKKKKKKK0l.  ..,:;:loodkx:.....  .... ..........''..;o0X0o,'.......',,,,,;oOXNNNNNX0o;'..'l0XXXXXN
KKKKKKKKKKKOl:cdO0KKKXXXKd'...           .............'lO0x;'...''......'';xXNNNNNNNNNNKd;'';xXXXXXN
KKKKKKKKKKKXKKXXKXXKKKKKk,       .        ...     ......';,..............,dKNNNNNNNNNNNNXkdloOXNXXXX
KKKKKKKKKKKKXXXKKKKKKKK0l.      ...                 ...  ............''.'l0NNNNNNNNNNNNNNNNXXNXXXXXX
KKKKKKKKKKKKKKKKKKKKK00x,       .......;cc;'.... ......  ...............;xKXNNNNNNNNNNNNNNNNNNXXXXXX
KKKKKKKKKKKKKKKKKKKK00Oc.   .   .....cOKNXX0Okdolcc::;,'......',;,'......,;coxO0KXNXNNNNNNNNNNXXXXXX
KKKKKKKKKKKKKKKKKK000x:.   ..  .....c0XXXXXXXXXNXXXXXXK0xoxxkkO000Oo,...;c:::::;:dKXXNNNNNNNNXXXXXNN
KKKKKKKKKKKKKKKKK0Od:.  .:l;......cxKXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNX0c.'oKXXXKKOo:dKXXXXXNNNXXXXXXXX
KKKKKKKKKKKKKKK0kl'...;oxo;....,lOXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNKo,;kXNXXNNXOokXXXXXXXXXXXXXXXX
KKKKKKKKKKKKK00k:..,lkkl'. .,cx0XXXXXXXXKKKXXXKXXXXXXXXXXXXXXXXXXXXNXNKd,:OXXXXXXXklkXXXXXXXXXXXXXXX
KKKKKKKKKKKK0Od,.;dOKKd' .;d0XXXXXXXXXXKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXNXx;cOXXXXXX0oo0XXXXXXXXXXXXXX
0KKKK0000000xc';d0KKK0k;.c0KXXXXXXKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXKx;cOXXXXXKxd0XXXXXXXXXXXXXX
000000000Oxc,,oO0000000l'l0KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXKXXXXXOlo0XXXX0dd0XXXXXXXXXXXXXX
000000Oo::;;lk000000000x;;kKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXX0llOKXXXK0KXXXXXXXXXXXXXX
000000kdoxk000000000000Oc'oO00000000KKKKKKKKK0KKKKKKKKKKKKKKKKKKKKKKKXXXXXXXOc:x0KXXXXXXXXXXXXXXXXXX
0000OOOOOkxkOOO0OOOOOOOOo'.;ldO000000000000OkxkO0KKKKKKKKKKKKKKKKKKKKKKKKKKXXOdlokKXXXXKKKKKKKKKKKKK
oooolc::c::cllllloooollll:,'';cllllooolloolcccclooooodxxxxxxxxxxxxxkkkkkxxxxxkkoclddxxxxxxdddddddddd
;:;;;,',;;;;,,,,,;;;;;;;:ccc:::;;;::::;:cccccccllccccllllllllcccclllollolllllllllcccccccccccccccccll
;:;;;;,;;;;;;;,,,,;;;;;;::ccc::;;:::::::ccccccccccccllllcccccc:ccccclllllllllcccccc:::::::::::::::cc`,


`XXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNXXXNNNNNNNX0O0XXXXXXXXXXNNNNNNNNNXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx;''cOXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0c. .,kXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0d:'..'dXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXOo,..':d0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXOl'. ...,oOKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0o:'.  ......':x0XXXXXXXXXK0OkxxddxOXXKKXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXOl:;'.  .cxd:...'lkKXXOdc;'.....  .'lxc;xKXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXK0xookXXXKkl,. .;c:'              .  'xXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKXXXXXXX0koc:;.        .......         ,kXXXXXXXXX
XXXXXXXXXXXK0KXXXXXXXXXXXXXXXXXXXKKKKKXXXXXXXXXXXK00KXXXXx;',:;;;'.    ........        .. ;OXXXXXXXX
XXXXXXXXXXO:',;:::::;;:::clollcc::;;;::cllodolclolc::o0XX0dcccclccc:,......;c,.......     .dKXXXXXXX
XXXXXXXXXXO,      ......,cdl'................  .......;kXXX0xc;;;;ccc:'....''';ok000d'     :0XXXXXXX
XXXXXXXXXXKl..',:ldkxdxOK0d;..... ..............',;;,.;kXX0dc;........';;'..;dKXXXXXKx:..  'xKXXXXXX
XXXXXXXXXXXKkkOKXXXXXXXXKl. .     ..     ..........'..:kKKx,.'...''.   ...'l0XXXXXXXXXX0l...:OXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXk'    .....        ..    ....'.';:,..''...'..    .c0XXXXXXXXXXXXKxold0XXXXXX
XXXXXXXXXXXXXXXXXXXXXXXKo.   .....  ..  ..         ...  .........  .......oKXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXO,.  ........'';clc;'..          ... ....'..  ....;kXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXKk;.   .....':ok0KXXXK0Oxdlc::;,''','.........      .,lkKXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXKKOd:..  .....,ckXXXXXXXXXXXXXXXXXXKK0kdxxxkOOo' .'cc::;'. .'cx0KXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXX0o:,.. ......,lxOKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXN0:..oXXXXK0kdl;,'';d0XXXXXXXXXXXXXXXX
XXXXXXXXXXXXX0d;........':oOKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKl.:0XXXXXXXXXXKOdc,:kKXXXXXXXXXXXXXX
XXXXXXXXXX0xl;;lxkc..'cdOKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKo;xXXXXXXXXXXXXXXX0o:lOXXXXXXXXXXXXX
XXXKkdodoc;;cxKXKd',oOXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKo;xXXXXXXXXXXXXXXXXXOl;o0XXXXXKXXXXX
XXXK0kxolcd0XXXXx,:0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKd'cKXXXXXXXXXXXXXXXXXKxcoOKXKKXXXXXX
XXXXXXXXXXXXXXXk;;kXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0llKXXXXXXXXXXXXXXXXXXXKxoOKXKXXXXXX
XXXXXXXXXXXXXXO;,xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXdl0XXXXXXXXXXXXXXXXXXXXK00KKKKXXKKK
KXXXXXXXXXXXXXx';OXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXkcdKXXXXXXXXXXXXXXXXXXXXXXKKKKKKKKK
KKKKXXXXXXXXXXKxcdKXXXXXXXXXXXXXXXXXXXXKXKK0KKKXXKKKXXXXXXXXXXXKXO:':dOKXXXXKKKKKKKKKKK00KKKKKKKKKKK
kkxxkkk00000000OxkOOOOOOO0OOO00000000OOO00OkOO0OOkkkOO0000O00OkkOOkxddkOOOOOOkkkkxxxxdddxxkkkkOkkkkk
llc::clddddxxxxkOkkxxxkkxxxxxkkxxkkkOOOOOOOOOOOOOOOkkkkkkkkkkkkOOOO0OOOOkkkOOOkOkkkkkxkkkxxxxdxxdddd
cccc:collllodddxkkkkxxxxxxxxddxxxxkkkkOOOOOOOOkkxxxkkkkkkkkkkkkkkkkOkkOkkkkkOOOkkOOOkkkkkkkkkkkkkkxd`,


`NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNKOk0XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNXXXXXXNNXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN0c'',oKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNXx;..'oKNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNXOo:;''c0NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNKkc,',:oOXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNKOx:....',:d0XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNXk:,'..''...',:lkKXNNNNXXK0OkxkkOOkkOXXKXNNNNNNNNNNNN
NXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNXKxcc:,...;dko;...;o0XNXkc;,......,'';do;ckXNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKXXKOxoxKNNNKx:...,lxx:.................,xXNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXK0KKXXNNNXKOxoc:'.........'',,,,'.........,xXNNNNNNNN
XXXXXXXXXX0xxOKKKKK0OOOOO0000OOkkkkkkO0KKXXXK00K0kxk0XNNKo;;:c:,,'......'''',,'.......'''.;kXNNNNNNN
XXXXXXXXXKl...,;;,,'....':c;,''.....',,,;::c;'';;,',:x0XX0dooodllc:,'',,..,:c:;,'',''',,,''lKNXNNNNN
XXXXXXXXXO;........'...:dkd;'.......''...............,lOXXKOdlcclcllc,'''';::;:oxOOOd:,'''';kXXNNNNN
XXXXXXXXXKo,,:cldkOOxxOK0l'.................'',,;::c:,:OXX0dc;,,;;,,:::;,,,,;oOXNNNXKkl;,,''lKNNNNNN
XXXXXXXXXXKO0XXXXXXXXXXKo............   ....'....';;:;o0X0o;,,'',,'..';:;;cd0NNNNNNNNNN0d:;,;xXNNNNN
XXXXXXXXXXXXNNNXXXXXXXXO;............ .............','';cc;''''''''.....,ckXNNNNNNNNNNNNKOxooOXNNNNN
XXXXXXXXXXXXXXXXXXXXXXKd................................'..',,,'........'c0NNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXO;.........';cloddl:;'............'..',,:;,'......,dKNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXK000kd;........'lOKXNNNNNXK0kxol:;;,,,,;;''''',;;;,....',o0XNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXX0d:,,,......';ccokKXXXXXXXXXXNNNNNXXXKK0kdxxd:..,coxkkdc;,'':xKXXNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXKkl,.',.....,cx0XXXXXXXXXXXXXXXXXXXXXXNNNNNNNNXO:.;xXNNNNNX0ko;..;xKXXXXNNNNNNNNNNNNNNNNN
XXXXKXXK0xl;,:oxd:...,oOXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0l,:kXNNNNNNNNNNKxc''ckKXXXXXXXNNNNNNNNNNNN
XXOdccc;,';oOK0o'.'lkKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx:lOXNNXXXNNNNNNNNXOl,':xKXXNXNNXNNNNNNNXXN
XX0kkxxddkKXKk;.;oOXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXk:;kXXXXXXXXXXXXXXNNNX0d:;cxKNNXXXNNNNNNXXXX
XXXXXXXXXXKkc';xKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXd,oKNXXXXXXXXXXXXXXNNNNNX0dccoOKXNNNNNNXXXXX
XXXXXXXXKxc',o0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0ll0XXXXXXXXXXXXXXXXXXXXNXNXKxc;:odk0XXXNXXXX
XXXXK0xo:''lOXXXXXXXXXXXXXXXXXXXXXXXXKXXXXKXXXXXXXXXXXKd:xXXXXXXXXXXXXXXXXXXXXXXXXXXXKOkxoco0XXXXXXX
XKKXOl;cok0KXXXXXXXXXXXXXKXXXXXXXXXKXXXXXXKKXXXXXXXXXXO:;kXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXX
KKK0kk0KKKKKKKKXKKKKKKKKKKKKKKKKKKKKKKKKK000KKKKKKKKXX0l;cx0XXXXXXXXXXXKXXXXXXXXXXXXXXXXXXXXXXXXXXXX
dooloxxddoldxxkxxxxxxxxxxxxxkkkkkxxxxxddollodoooodddkkkOxoldxdxdodddddoooooooodxxkxxxxxxkkkkkkkkOkkk
,,,,:::::::ccccccccccclllcclllllccccccccccllccccccccllloooolcccccclcllc::ccccllcccccc::ccccccccccccl
;;,;;;::::::::::::::::ccc:cccccc::;;;:::;:c:::c::ccc::cccclllcccccclll::::c:cc::cc:::ccc:::::::::::c`,


`XXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNXXNNXNNNNNNXNXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXK00KXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKd::cd0XXXXXXXXXXNNNNNNNNXXNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXOl'',o0XXXXXXXXXXXXXXXXXXXXNNNNNNXXXNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKOdl:,'cOXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KXXXXKKKXXXXXXXXXKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKkl;,;cokKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXXXX0Oxc'..',;cx0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXKkc,,'''''..';cd0KXXXXXXXXKOkxxk00O0KXK0KXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXKKkolc;'..;oxl;'';oOKXXKOolc,....,,',ldc,cOXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKKKXKKXXXXXXXXXXXKKXXXKKKKKK0xdx0XXX0d;..,cx0Oo'............. ..:OXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKXXXXXXXXXXXKKKKKKK00KKKXXXXKOxoc,....',:;',;:c::;,.......'.:kXXXXXXXXX
KKKKKKKKKK0xox0KKK0OOkkkkkkkxdddddooodxkkO000kxxxdodkKKXKk:;:cc;'......';;;;:;,.......,,..:OXXXXXXXX
KKKKKKKKK0o'..,;;;,'....';c;'..'''..'''..'',,.......,lk0KKkodxxdoc:,';:;',;ll:;'.,;,..','.,dKXXXXXXX
KKKKKKKKKk:........''..,lxd:,'......''...''......''''.'o0KKOkdlloddol:;,',col;,lk0K0xc'...':OXXXXXXX
KKKKKKKKK0o;;:ccldxkxloOx:............. ....',;;:clll;,dKK0dc:,,;;,;:c:;;:;',cx0XXXXX0xc;,,;o0XXXXXX
KKKKKKKKKKK0KKKKXXKKKKK0c............. ..........,;:c:cx00d;,,''''...,coc;:lkXNNXXXXXNNXOdl:ckXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKk,.........................',,'.';:,.','..'.....,:d0XXXXXXXXXXXXXXK0OOKXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKd'....................................'..........;xXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKOxdxkx:..........':oxkkxoc;,................',,'......':kXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKk;...............;xKXXXXXXXK0kxollcc:;,,;,...',;;'.....,dKXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKK0x;.........,;:coodOXXXXXXXXXXXXXXXXXXXK0kc'..';clodxl,...;xKXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKK0KK0d,......,cdk0KKXXXXXXXXXXXXXXXXXXXXXXXXXKx:.'cxKXXXXXXOxc,.;dKXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKOl...':lxk0KXXXXXXXXXXXXXXXKKXXXXXXXXXXXX0o;;lkKXXXXXXXXXXKkc',dKXXXXXXXXXXXXXXXXXXXXXXX
KKK0xooodddl;';lxOKXXXKXKXXXKXXKKXKKKXXKKKXKKKKXXXKKxccdOKXXXXXXXXXXXXXX0d;,lOXXXXXXXXXXXXXXXXXXXXXX
0KK0Oo,....'cx0KXXKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0d,;xKXXXXXXXXXXXXXXXXXKOc,:kKXXXXXXXXXXXXXXXXXXXX
0KKKK0ko:cdOKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0dc:lOKXXXXXKKKXXKKKXXXXXXXKx::dKKKXXXXXXXXXXXXXXXXX
0000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKkllokKXKXXXKKKKKKKKKKKKKXXXXXXKxclOKKKXXXXXXXXXXXXXXX
KKK000KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKOdld0KKKKKKKKKKKKKKKKKKKKKKKXXXXXXOl:d0KKKXKXXXXXXXXXXX
K00KK00KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKx:o0KKKKKKKKKKKKKKKKKKKKKKKKKXXXXXX0o:ckKKKKKXXXXXXKKXX
00000000000000000KKKKKKKKKKKKKKKKKKK00KK00KK0xdOKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKOdlx0KKKXKKKKKKKKX
xddooodxxxxxxkkkkkkkkkkkkkOOOOOOkkkkxxkkkkkOkxkOkkkkOOOOkkkxxxxxxkOO0OO0000000KK0KK0kkO0000000000000
ccc:::clllooooooddooooodddddoodddddddxxxxxxddxxxxddxxxkkkkkkkkkkkOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOkOO
;:::::clllllllloooollllloooolloooooooddddddddxxxxddxxxkkkkxxxkkkkkOkkkOkOOOOOOOkkkkkkOkkkkxxkkkkkkkk`,


`XNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXXXNNNNNNNNNNNNXXXXXXXXXXXXXXXX
XXNNNNNNNNNNNNNNNNNXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNXNNNNXXXNNXXXNNNNNNNNNNXXXXXXXXXXXXXXXXXX
XXXNXXXXXXXXXXXXXXXXXXXXXXXXNNNNXXNNNNNNNNNNNNNNNNNNNNXXNNXK0KXXXXXXXXXXXXXXNNNXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNXXXXXXXXXXXXKxc;cd0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0c..'cOXXXXXXKXXXXXXXXXXXXXXXXXXXXXXXXXXKKX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKko;..,xXXXXXXXKXXXXXXXXXXXXXXXXXXXKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0d:,,:cokKXXXXXXXKXXXXXXXXXXXXXXXXKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKOo,...,;lkXXXXXXXXXKXXXXXXXXXXXXKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXOoc:,'.....,cx0XXXXXXKKKK0OkdldOKKKOolOKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKklc:,'..,cl:,;:oOKXXKklll:,'...';cl:..:kKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKK0OdloOXX0dc;';lxOOl'................:xKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXK00KKXXXXXXXKOd:'..,cc:'.'''''...........,o0KKKKKKKKK
XXXXXXXXXXXXKKKXXXXXXXXXXKKK0OkxxxxdddxkkO000Okkkxodk0XXX0dc::;'..'....',,'''............'d0KKKKKKKK
XXXXXXXXXXXKkldOO00Okdollloolc:;::;;;;;,',;;;'.',,'.':dOKKOdool:;,,''',;,'',,''':c:,......;kKKKKKKKK
XXXXXXXXXXXOl;,;;;,,','',lkdllc::;,',;;'',;;'.'',,,,,'.:kKX0xlcclcc:;;;,',:c;;oOKXXOo;.....:kKKKKKKK
XXXXXXXXXXKxc;;;;;:ldxc:dxl;,'''''''''....',;;::cllll:,cOKKkl:;,;:lll:,'',,;lkKXXXXXK0xl,...cOKKKKKK
XXXXXXXXXXXKOOkOO0KKXKO0Kx;.'......'.............',;:;,ck0kc,'..'..,;;,',;lkKXXXXXXXXXXKxc::d0KKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXk;..',,,'''...............'''..';;.....'....''.;xKXXXXXXXKKKXXXXXKKKKKKKKKK
KXXXXXXXXXXXXXXXXXXXXXXXX0l...,;;;,...';;'.............................'o0XXXKKKKKKKKKKKKXXKKKKKKKKK
XXXXXXXXXXKKKKXXKXXKxllooo;....'''..,ok00kdl:,.........................;OXKKKKKKKKKKKKKKKKKKKKKKKKKK
KXXXXKKKXXKKKKKKKKOo;..............,dKXXXXXXK0Oxdoooc:,'......'.......:kKKKKKKKKKKKKKKKKKKKKKKKKKKKK
KKXXXXKKKKKKKKKKOd;'''....'..',;:lxOKKKKXXXXXXXXXXXXXXKOl'....','....;kKKKKKKKKKKKKKKKKKKKKKK00000KK
KKXXKKKKKKKKKKkl;,;c::oddxxkkO0KKKXXKKKKKKXXXXXXXXKXXXKOc...:xO0Ol...:OKKKKKKKKKKKKK0KKK00000000000K
KKKKKKOkkO00xl:cdO00olOKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0d'..:xKXXXXO:..l0KKKKKKKKKKKK00KKK000000000000
XKKKKKOkdolccokKKKX0oo0KKKKKKKKKKKKKKKKKKKKKKKKKKKKKkc.'ckKXXXXXXKo..o0KKKKKKKKKKKKKKKKK000000000000
KXXXXXXKKKOO0KXKKOxl:d0KKKKKKKKKKKKKKKKKKKKKKKKKK0ko'.ckKXXXXXXXXXO;.c0KKKKKKKKKKKKKKKKKKKKKK0K00000
KKKXXKKXXKXXXKK0kolok0KKKKKKKKKKKKKKKKKKKKKKKK0ko:;,:xKXXXKKKKKKXXKo.,kKKKKKKKKKKKKKKKKKKKKKKKKK00KK
KKKKKKKXXKKKKKKKKKKKKKKKKKKKKKKK00KKKK0OkxdlcclodxkOKXXKKKKKKKKKKXXO:.l0KKKKKKKKKKKKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00KKK0koooolox0KKKKKKKKKKKKKKKKKKKXXO;;kKKKKKKKKKKKKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0KKK0KKKKKKKKKKKKKKKKKKKKKKKKKKKKXKd,l0KKKKKKXKXXXKKXXKXKKKKKKKKKK
KKKKK0KK0KKKKKKKKKKKKKKKKK0000000000000000000000000000000K0000KKKKKKKO:':oxOKKKKKKKKKKKKKKKKK0000000
KK00kxOxdk00OOOOOOOOOkkkkkkOOOkkkkxkkxkkkddddoooodddddddxxdddodxkkkkkkxlc:cdkkkkOkkkkkkkxxxxxxdddddd
000kdxxodkkkkkkkkkkkkxxkxxxxxxxxxxddddxxxkkkkxxxxxxxxxxxxxxxxxxddddddxkkkkxxxxxxxxxxddoooollllccllcl
00Okkkxdkkkkkkkkkxxkkkkkkkxdxxxdxxkxxddxxxkkkkkxxxxxxxxxxxxxxxxxxdddxxkkkkxxxxxxxxxdolllllc::::cc:::
`,


`XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKXXXXXXXXXXXXXXXXXXXKKXXKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXK00KKXXXXXXXXXXXXXXKKKKKKKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXXXXXXXXXXXXKKKKKKKKKKKKKKKKKKKXXXKKKKKKKK0o;;cxKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
XXXXXXXXXXXXXXXXKXXXXXXXXKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKx,...cOKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
XXXXXXXKKKKKKKKKKKXXXXKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKOdc'..,xKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0xc,',:cok0KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0kd:....';lOKKKKKKKKKKKKKKKKKKKK000KKKKKKKKKKKKKK00
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0d:,'.......,cx0KKKKKKKKK0OOxxO0K0d;ckKKKKKK000000000
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKOo:;,'...,:;'.,cx0KKK0xoll:,..',:;. .;x0KK00000000000
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK0000OdlldOKOd:'.,cxOko;....         ..'lO000000000000
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00000KKKKKK0Od:...,co:.........     ....:k00000000000
KKKKKKKKKKKKKKKKKKKKKKKKKK0Okxdddooooloodxxkkdoxdllok0KKKkc,,,.........''....      ... .:k0000000000
KKKKKKKKKKK0xdk0KK0Okdoolollcc:ccc:::;,'',;,'...'...'cdOK0xoool;'....''.......,cc;'..   .:k000000000
KKKKKKKKKKKk:,;:c::,'..';oxoollc;,',;,'.';:,'',,;;;;,..lOKKOxdol:;,.,:,.':c;:d0KKKOo,.....;x00000000
KKKKKKKKKK0o;,'''',:oo:;lo:;;;;,'''',.....';ccccloool;;d0K0xlcllloo;....,;:lkKKKKKK00Od;'':x00000000
KKKKKKKKKK0kdddddxk0KKOk0x;..';;;;,,'......''....;:::,cdkOkc',:llcc;.....;d0KKKKKKKKKKKOkOO000000000
KKKKKKKKKKKKKKKKKKKKKKKKK0l..';c:::;.............'''....':;...,'..,;'.';lOKKKKKKKKKKKKKKK00000000000
KKKKKKKKKKKKKKKKKKKKK0KKKKOc..';,','..;c:,..................      ...':kKKKKKKKKKKK00000000000000000
KKKKKKKKKKKKKKKKKKKklcldxddc'..,'.'..:kKKOxoc:,...    ...''.    .....:kKKKKKKKKKKKK00000000000000000
KKKKKKKKKKKKKKKKKKkc,;;;,',,,....'':dOKKKKKKKK0kdolc;''.''...  .....cOKKKKKKKK0KKKK000000000O000OOOO
KKKKKKKKKKKKKKKKKkccdxd:;coooc::cldOKKKKKKKKKKKKKKKK0OOd;.... .':coxOKKKKKKKK00000000000000OOOOOOOOO
0KKKKKKKKKKKKKK0xclOKK0d:o0KKK0KKKKKKKKKKKKKKKKKKKKKKK0d'  .. .l0KKKKKKK000000000000000000OOOOOOOOOO
KKKKKKKKKKKKKK0xcoOKKKK0d:d0KKKKKKKKKKKKKK000000000000o' .;;..:OKKKK0000000000000000000000OOOOOOOOOO
KKKKKKKKKKKOkdlcd0KKKKKK0l:x0KKKKKKKKK0OO0KK0K0000000x,.,dOl.'xKKKK0KK00000000000000000000OOOOOOOOOO
KKKKKKKKKKOkxxxk0KKKKKKKKd;o0KKKKKKKKKOxdooooxkO000Oo;,lOKO:.cOKKKKKKK000000000000000000000OOOOOOOOO
KKKKKKKKKKKKKKKKKKKKKKK0xcoOKKKKKKKKKKKK0Oxl::cloc:;';d0KKk;.o0KK0K000000000000000000000000OOOOOOOOO
KKKKKKKKKKKKKKKKKKKKKKK0kk0KKK0KKKK0K00K00K0000OOkkkk00KKKO;'xK000000000000000000000000000OOOOOOOOOO
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKK000KK000K0000000000000000000k,;OK000000000000000000000000000OOOOOOOOOO
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK000000000000000000000000000d';k000000000000000000000000000000OOOOOOOO
K00000KKKKKKKKKKKKKKKKKKK0000000OkkkkkxxxxkkOOOOOOOO0OOOOOd'.;lxO0OO0000000000OOOOOOOOOOkkkkkkkkkkkk
kxxxdxO00000000000000000000000Okkxdddddoooddxddddddxxxddddxddlcoxkxxxkxxxxkkkkxkkxxddoolc::ccccccccc
kxxdodkO000000000000000000OOOOOOOOOOOOOOOOOOOOkkxxxxxxddxxkkOkkkxxxxxxxxdddddddooolllc:;,,,;;;;;;;;;
0000000000000000000000000OOO0OOOOOOOOOkOOOOOOkkxkkkkxdddxxkkkkkxxxxkxxdddoooollcccc:::;,,',,;;;,,,,'`,


`NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNWWWWNWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
XXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNWWWWWWWWNNNNNWWWWWWWWWWNNNNNNNNNNNNNNNNNN
XXXXNNXXXXXXXXXNNNNNNNNNNNNNXXXNNNNNNNNNNNNNNNNXXNNNNNNNNNNXKKXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXNXXXXXNNNNNNNNNNNNNNXXNNNNNNNNXkc:cd0NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNXXNNNNNNNNNNXXNNNNNNNX0c...:OXNNNNNNNNNNNNNNNNNNNNNNXNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXNNNNXXXXNNXXXOoc;'.'dXNNNNNNNNNNXXNNNNNNNNNXXXNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKxc,';:cdOKNXNNNNNNNXXXXXNNXNNNXXXXXXXXXXXXXXXXX
KKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0Od:'...',:xXXXXXXXXXNNNXXXXXNX0OOKXXXXXXXXXXXXXXXX
KKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX0d:;,,'''...':d0XXXXXXXXNXKOxxOKOc.'lOXXXXXXXXXXXXXXX
KKKKKXXXKKXXKKKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKOoc::,...,c;'..:xKXXXKKOkdc'...,'....,o0XXXXXXXXXXXXX
KKKKKKXXKKKXKKKKKKKKKKKXXXXXXXXXXXXXXXXXXXXXXXKK00K0kdod0X0d;..'cxOOko;......   ......;xKXXXKXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKXXKXXXXKKKKKKXXXXXXXKKKO00KXXXXXXKOd;...':c;.........  .......'dKXKXXXKKKKK
KKKKKKKKKKKKKKKKKKKKKKKKKKK0Oxxooolllloooddxxoodlclok0KXXOl,''.......',,'...............,d0XXXXKKKKK
KKKKKKKKKK0OO0KKKKKKK0Oxdlc::;,;:;;;;,'.',,''.......':oOKKOdclc;'....,,'..'..'cxkxl;.....'lOKXXKXXXX
0K00KKKKKKkc;loddollc:;,:olcc:::;'''''..';;,,,,;:;;;,'.:xKXKxccc:;'';;'.';;,:kXXXXKkoc;...'oKXKXXXXX
00000KKKK0d,........;;,,cl:;;,,,,''''.....';:::cllllc;;okKXOocclll:,',''',;lOXXXXXXXXXKxodk0XXXXXKKK
00000000K0o,'..',;cdOOdll;....,;;;,,'...........';c:;;coxO0o;;clll:'.''..:kKXXXXXXXXXXXXXXXXKKKKKKKK
0000000000kxxxxkO0KKKKK00d,...',,,;;'............,,,',,'';;'.,,';:;,',;:d0XXXXXXXXXXXXXXXXXXKKKKKKKK
0000000000KKKKKKKKKKKKKKKKk;...'''''..':c,.......................''',lkKXXXXXXXXXXXXXXXXXXXKKKKKKKKK
0000000000KKKKKKKKKKkolddxdc'....''..'lOK0kdc;......................c0XXXXXXXXXXKKKKKKKKKKKKKKKKKKKK
000000000000KKKK0KK0o'.''............o0KKXXXX0kdolc:,'...''........:kKXXXXXXKKKKKKKKKKKKKKKKK0KK0K00
00000000000000000000d,,:'....,::;:cox0KKKKKKKXXKXXXK0Oko,....''';lkKXKKXKXKKKKKKKKKKKKKKKKKK00000000
O000OOOOOOO000000000x:ckx:..:k000KKKKKKKKKKKKKKKKKXXKKX0c...:xO0KXXXKKKKKKKKKKKKKKKKKKK00K0000000000
O000OOOOOOOO00000000kcck00kl;:x0KKKK0000K00000K00KKKKK0l...l0XKXXKKKKKKKKKKKKKK0000000000000000O0OOO
OOOOOOOOOOOOOO000000klcx00K0kc,cx000000000xoldO00KKKKOc...cOXKKKKKKKKKKK000000000000000000000OOOOOOO
OOOOOOOOOOOOOOOO00Okd::x000000d;'o0000000K0kdcccoxOOk:...;kKKKKKKKKKKK000000000000000000000OOOOOOOOO
OOOOOOOOOkOOOOOOOkdc:cdO000000Ol,o00000000KKKOdc;:::,...,dKKKKKKKKKK000000000000000000OOOOOOOOOOOOOO
kkkkOOOOkkkOOOOOOkddxO00000000kclO000000000000000Okl.,lok0KKK000KK00000000000000000OOOOOOOOOOOOOOOOO
kkkkkOOOOOOOOOOOOO000000000000OkO000000000000000Oo;';kKKKKKKKK0000000000000000000000OOOOOOOOOOOOOOOO
OOOOOOOOOOOOOOOOOO00000000000000000000000000000Oo..'xKKKKKK00K0000000000000000000000OOOOOOOOOOOOOOOO
OOOOOOOOOOOOOOOOOOOO000OOOO00O00000000000000000Od:,,lk0000000000000000000000000OOOOOOOOkkkkkkkkkkkkO
oodooodxxxxxxxxxxxxxxdddooooooddddddddddxxdxxxkkkxxl:odxddddddddddxxxxxxxxxxxddooooooolllc:::::::::c
:cc;cooooooooooooodddoooolclooddddddddooddddddddddxxdooolllllllllloollllooollcc::c::::::;;;;;;;,;;,;
llccooollloooooooooddddddoloddddddooddddddooooddddxxdoooloolllllccllcccclllcc:::::;;;;;;;;;;,,,,,,;;`,

`XXXXXXXXXXXXXXXXXXXXXXNNNNNNNNNNNNNXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKXXXXXXXXXXXXXXXNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXXXXXXXXXXXXXXXXXXXXXXK0KXNNXXXXXXXXXXXNNNNNNXXXNNNXXXXXNNNNNN
KKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKKXXXXXXXXXXXXXXXXXXXXOolloOKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKXXKKKKKXXXXXXXXXXXKXXK0KXXXXXXXXXXXXXXXXXXXKd;,,;dKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00KKKKXXXXXXXXKKXXKOdol:',l0XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00KKKKKKKKKKKKKK0xc;;:llok0XXXXXXXXXXXXXXXXXXKXXXXXXXXXXXXXXXXXX
KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK00KKKKKKKKKKKOko:'...,::d0XXXXXXXXXXXXXXXXXOdldKXXXXXXXXXXXXXXXX
0KK00000000KKKKKKKKKKKKKKKKKKKKKKKK000KKKKKKKKK0o;,;,,,,'..,:o0KKKKKXXKKKOxdxxo;'.'oOKXXXXKXXXXXXXXX
00000000000000KKKKKKKKKKKKKKKKKKKKK000KKKKKKKKK0dllc;,'',;,..,cx0KKKKK0xc'.......''';d0KKKXXXXXXXXXX
0000000000000000000KKKK000000000000000KKKKKKKKK00000Oxook0Oo;'',cxOOo:,..............'ckKKKXXXXXXXXX
000000000000000000000000000000000OkxxkO0000K0000OOOO0KKKKOkdc'....,:,',,,''........'..':kKXXXXXXXXXX
000000000000000000000000000Okxolc:;;;;;;:cclc;:lc::cok0KKOl,........',,''''..',;,''....':xKXXXXXXXXX
0000000000OOO000000000Okxol:;,',,'''''...,'..........';ok00xoc:,,,.',,.',;;':x0K0ko:''''';oOXXXXXXXX
0000OO000Oocldxxxxdol:;,;:;,,,,,'........',',,,;;;;;;'.,lkKKOl::;,,:lc;:lc:oOKXXXK0kkxl;;:lOXXXXXXXX
00OOOOOOOk:.............;lc,'''''''........,,,,;;:::;',ldkK0xl:::;,,;,,;,:d0XXKXXXXXXXKOO0KKXXXXXXKK
OOOOOOOOOkc'......':ool:;,'.....,,,,,'...........,;;'.;ccoxdlcccl:''c:,':kKXXKKKKKKXXXXXXXKKKKKKKKKK
OOOOOOOOOko;',,:coxOO0OOOx:......',;;'...........''...'...',''';::,;c::d0KKKKKKKKKKKKKKKKKKKKKKKKKKK
OOOOOOOOkkkxxkkOOOOOOOOOOOkc..  ...,;,.,c;.............. .......',;;;oOKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
OOOOOOkkkkOOOOOOOOOOOOOOOOOkl.    ...'.;kOkdl:,......... ....  ...';d0KKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
OkOOOkkkkkOkOOOOOOOOOOxoc:;,...  ....,cx0KKKK0Okdolc;,'. .........,o0KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
kkkkkkkkkkkOOOOOOOOkkOd,......   .;cdOKK00000000KK0K00kd:....',,:oOKKKKK0KKKKKKKKKKKKKKKKKKKKKKKKKKK
kkkkkkkkkkkkkOOOOkkkkkkx;..;'.  .lO0O000000000000000000x:....ck0KKKKK0K000000000000KKKKKKKKKKKKKKKKK
kkkkkkkkkkkkkkkkkkkkkkOOko,.,;'..:oxkO000OO0000000000x:......l0KKKK00000000000000000000KK0KKKKKKKKKK
kkkkkkkkkkkkkkkkkkkkkkOOOOkc,cxxl;'';okOOOOOOOOxooddl'.'cxo,.cO00000000000000000000000000000000KK000
kkkkkkkkkkkkkkkkkkkkkOkOOOOOo,:x00ko:',okOOOOOOxc,....ck000o,:k0000000000000000000000000000000000000
xkkkkkkkkkkkkkkkkkkkkOkkOOOOk::x0000ko;:xOOOOOko;'.''';::cc:;oO0000000000000000000000000000000000000
xxkxxxxkkkkkkkkkkkkkkkkkOOOkoox00000OOxoxOOkdc,,:oxkxdooodddxO0O000000000000000000000000000000000000
xxxxxxxxxxkkkkkkkkkkkkkkOOOkxk00OO00OOOOOOd;',lx000000000000000OOO00000000000O0000000000000000000000
xkxxxxxkkkkkkkkkkkOOOOOOOOOOO000O000OO00Od;,lk00000000000000000OO00000000000000000000000000000000000
xxxxxxxxxkkkkkkkkkkOOOOOOOOOOOOOOO0OOOOOd;:dOOOOOOOOOOOOOOO0OOOOOOOOOOOOOOOOO00000000000O00000000000
ollllooooollllooollllooddddddxxkkkkkkkkxoodkxddxxxxxdddddxxxddodooooddxxxdddxxxdddddddoollloolllllll
::;,,:cllllllllolooooooooooooddxxxxxxxxddddddddoooooddddddddddxxddooooooodddooodddddooollllllclllllc
:c:,;clllllllllloooooooooddxxxddddxxxdddooooddooollooodddooooddddooollllcllllloolooolllllllllcllllll`,
]

let currentFrame = 0;
let timerID = setInterval(() => tick(), 100);
let tick = () => {
  let f = a[currentFrame];
  console.clear();
  console.log("%c"+f, "background-color:#000; color:#fff; font-size:6px; line-height:8px;display:block;");

  if(currentFrame < a.length - 1){
    currentFrame++;
  }else{
    currentFrame = 0;
  }
  // console.log('tick')
}

  </script>
</body>
</html>