<!doctype html>
<html lang=en>
<head>
  <title>Kevin Newcombe</title>
  <meta name=description content="Front-end developer">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel=stylesheet>
  <style>{% include './assets/styles/styles.css' %}</style>
</head>

<body>
  <main>
    <div class="title">
      {% include './assets/images/logo.svg' %}
      <h3>Front-end developer</h3>
    </div>
    <div class="links">
      <a href="mailto:ke%76%69n@%6Bev%69n-%6E%65%77com%62%65.com">Email</a>
      <a href="https://codepen.io/kevinnewcombe">CodePen</a>
      <a href="https://github.com/kevinnewcombe">GitHub</a>
      <a href="https://www.linkedin.com/in/kevinnewcombe/">LinkedIn</a>
    </div>
  </main>
  <script>{% include './assets/scripts/malarkey.js' %}</script>
</body>
</html>
