<!doctype html>
<html lang=en>
<head>
  <title>Kevin Newcombe</title>
  <meta name=description content="Front-end developer">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel=stylesheet>
  <style>{% include './assets/styles/styles.css' %}</style>
</head>

<body>
  <main>
    <div class="title">
      {% include './assets/images/logo.svg' %}
      <p>Front-end developer</p>
    </div>
    <div class="icons">
      <a href="mailto:ke%76%69n@%6Bev%69n-%6E%65%77com%62%65.com" class="email-link">{% include './assets/images/email.svg' %}</a>
      <a href="https://github.com/kevinnewcombe">{% include './assets/images/github-mark.svg' %}</a>
    </div>
  </main>
  <script>{% include './assets/scripts/malarkey.js' %}</script>
</body>
</html>
