@media(prefers-reduced-motion: reduce){
  :root{
    --transition-duration: 0s;
  }
}

html {
  box-sizing: border-box;
  font-family: work sans, sans-serif;
  background:#fff;
  color:#575757;
}

*,
*:before,
*:after {
  box-sizing: inherit
}

body {
  margin: 0;
  padding: 25px;
  height:100%;
  font-family: "IBM Plex Mono", monospace;
}

header{
  margin-bottom:48px;
}
section {
  margin-top: 24px;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 0 4px;
}

h3 {
  color: #778095;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0 0 30px;
}

ul{
  list-style-position: inside;
  padding:0;
  margin:0;
}

a{
  text-decoration: none;
}

a:link, a:visited {
  transition: color var(--transition-duration);
  color: #0068d7;
}

a:hover, a:focus{
  color: #0054ae;
}

.container{
  margin: 0 auto;
  max-width: 800px;
}
.knlogo__path {
  opacity: .7;
}

.knlogo__back{
  fill: #00dcdc;
}

.knlogo__front {
  fill: #ff3232;
}

