:root{
  --color-page-bg: #2e3035;
  --color-page-text: #fff;
  --color-anchor:#00dcdc;
  --color-anchor-active:#d7ffff;
  --color-knlogo-back: #00dcdc;
  --color-knlogo-front: #ff3232;
  --transition-duration: 0.25s;
}

@media(prefers-color-scheme: light){
  :root{
    --color-page-bg: #fff;
    --color-page-text: #222;
    --color-anchor:#008484;
    --color-anchor-active:#007474;
  }
}

@media(prefers-reduced-motion: reduce){
  :root{
    --transition-duration: 0s;
  }
}

html {
  box-sizing: border-box;
  font-family: work sans, sans-serif;
  text-align: center;
  box-sizing: border-box;
  background:var(--color-page-bg);
  color:var(--color-page-text);
}

*,
*:before,
*:after {
  box-sizing: inherit
}

body {
  margin: 0;
  padding: 25px 10px;
  height:100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center
}

main{
  width: 100%;
  max-width: 400px;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 5px 0 30px;
}

.links{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 12px;
  flex-wrap:wrap;
}
a{
  text-decoration: none;
}
a:link, a:visited {
  transition: color var(--transition-duration);
  color: var(--color-anchor);
}
a:hover, a:focus{
  color: var(--color-anchor-active);
  /* text-decoration: underline; */
}
.knlogo__path {
  opacity: .7;
}
.knlogo__back{
  fill: var(--color-knlogo-back);
}

.knlogo__front {
  fill: var(--color-knlogo-front);
}

